body {
    font-family: sans-serif;
    margin: 0;
    background: #f4f4f4;
  }
  
  .container {
    padding: 20px;
    text-align: center;
  }
  
  button {
    padding: 15px;
    font-size: 1.2rem;
  }
  